#top {
    text-align: center;
}

#wrapper {
    width: 90%;
    padding-left: 10%;
}

#final {
    text-align: center;
}

#left {
    float: left;
    width: 45%;
    height: 50%;
}

#right {
    float: left;
    width: 45%;
    height: 50%;
}

#wrapper-footer {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.name {
    font-size:xx-large;
    font-weight: bold;
}